<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.omrbranch.day6.Day6_U0602"/>
      <class name="com.omrbranch.day6.Day8_U0801"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
